extends ../ui_layout

block content
  -var initials = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"] 
  -var photos = ['/1_ant.svg', '/2_bear.svg', '/3_butterfly.svg', '/4_cat.svg','/5_chicken.svg','/6_crab.svg','/7_deer.svg','/8_gorilla.svg','/9_dog.svg','/10_monkey.svg']
  .thirteen.wide.column.centered
    h1(style="text-align:center;") Welcome to
      img(src=cdn+'/favicon.svg', height="50px", style="margin-bottom:-10px")
      span.title VidShare
      | !
    h3 We are a new video-based social media community.  
    h3 We warmly welcome you to fully immerse yourself in our lively community by interacting with videos and comments from other users.
    .ui.divider(style="margin-top:2em;")
    h1(style="margin-top:2em;") Create an Account
    h3 First, begin by creating an account.
    //- .ui.divider
    h2 Create a Username
    .ui.warning.message.hidden.username
      i.close.icon 
      .header#username-warning-header Don't forget to create or choose a username!
    h3 Or choose your own username (3–24 characters: letters, numbers, and underscores only).
    .ui.form
      .field.eight.wide.centered(style="margin-left:auto;margin-right:auto;")
        label(for="customUsername")
          h3 Custom username
        input#customUsername(type="text", name="customUsername", maxlength="24", placeholder="e.g. river_92", autocomplete="username")
    h3 Or stay anonymous: type your initials below. We will suggest three random usernames from your initials; then pick one.
    .ui.form
      .fields
        .field.four.wide
          label 
            h3 First Name Initial: 
          select.ui.search.dropdown.fluid(name="firstInitial")
            option(value='') Select Initial
            each letter in initials
              option(value=letter) #{letter}   
        .field.four.wide
          label 
            h3 Last Name Initial: 
          select.ui.search.dropdown.fluid(name="lastInitial")
            option(value='') Select Initial
            each letter in initials
              option(value=letter) #{letter}
      h3 Available Usernames:
      .ui.vertical.basic.buttons
        button.ui.button
          h2.username_1.username &nbsp;
        button.ui.button
          h2.username_2.username &nbsp;
        button.ui.button 
          h2.username_3.username &nbsp;
    //- .ui.divider
    h2 Choose a Profile Picture
    .ui.warning.message.hidden.photo
      i.close.icon 
      .header Don't forget to choose a profile picture!
    h3 Please also choose a profile picture from below to use.
    .ui.form
      .images
        each filename in photos
          .image
            a.avatar
              img(src=cdn+"/profile_pictures"+filename)
            i.icon.green.check.hidden
    .ui.big.labeled.icon.button
      i.arrow.alternate.circle.right.icon
      | Create Account

block styles 
    link(type='text/css', rel='stylesheet', href='/public/css/signup.css')
    
block scripts
  script(src='/public/js/signup.js')