.ui.fluid.card(class=index!=0?"hidden":null, postID=val.id, index=val.postID, postClass=val.class, postTimeStamps=postTimeStamps, postTimeStampsDict=postTimeStampsDict)
  .content.title
    h2 !{val.body}
  .content
    .ui.two.column.grid.stackable
      .five.wide.column.centered
        video(controls controlsList="nofullscreen")
          source(src='/post_pictures/'+val.picture type='video/mp4')
          source(src=cdn+'/post_pictures/'+val.picture type='video/mp4')
        .video-meta
          .video-meta-profile(style='display:flex;align-items:center;gap:0.6em;')
            if actorPictureIsInitials(val.actor.profile.picture)
              .video-meta-avatar.video-meta-initials(role='img', aria-label='Profile', style='background-color:' + (val.actor.profile.color || '#d7ddd9') + ';width:2.5em;height:2.5em;max-width:2.5em;max-height:2.5em;min-width:0;flex:0 0 2.5em;border-radius:50%;overflow:hidden;display:flex;align-items:center;justify-content:center;box-sizing:border-box;')
                span.video-meta-initials-text= actorInitialsFromPicture(val.actor.profile.picture)
            else
              .video-meta-avatar.video-meta-photo-shell(style='background-color:' + (val.actor.profile.color || '#d7ddd9') + ';width:2.5em;height:2.5em;max-width:2.5em;max-height:2.5em;min-width:0;flex:0 0 2.5em;border-radius:50%;overflow:hidden;display:flex;align-items:center;justify-content:center;box-sizing:border-box;')
                a.avatar
                  img(src=actorPeopleProfileImgSrc(val.actor.profile.picture), alt='profile picture')
            .video-meta-user
              .video-meta-username !{val.actor.username}
              .video-meta-caption !{val.body}
        .content.buttons
          .ui.buttons.small
            .ui.left.labeled.button(class=disabledFunctionalities? "disabled": "")
              a.ui.basic.green.right.pointing.label !{val.likes}
              .ui.like.button(tabindex='0', data-tooltip="I like this", data-position="bottom center", data-variation="mini", class=val.like? "green": null)
                i.thumbs.up.icon
                | Upvote
            .ui.right.labeled.button(class=disabledFunctionalities? "disabled": "")
              .ui.unlike.button(tabindex='0', data-tooltip="I dislike this", data-position="bottom center", data-variation="mini", class=val.unlike? "red": null)
                i.thumbs.down.icon
                | Downvote
              a.ui.basic.red.left.pointing.label !{val.unlikes}
          .secondary-buttons
            .ui.flag.button.small(tabindex='0', data-tooltip="Report Video", data-position="top center", data-variation="mini", class=[val.flag? "orange": null, disabledFunctionalities? "disabled": ""])
              i.flag.icon
              | Flag
      .eleven.wide.column.centered
        h3 Comments
        .ui.divider(style="margin:0px;")
        .ui.form
          .inline.field
            .image
              if actorPictureIsInitials(user.profile.picture)
                a.avatar.actor-initials-badge
                  span= actorInitialsFromPicture(user.profile.picture)
              else
                img.ui.image.rounded(src=user.profile.picture)
            textarea.replyToVideo(name='replyToVideo' type='text' placeholder='Add a Comment...' rows='1' disabled=disabledFunctionalities? true: false)
            i.big.send.link.icon.replyToVideo
        h4(style="text-align: right; color: gray;") Sort by: Newest First
        .ui.comments(style="display:none;")
          each comment in val.comments
            .comment(commentID=comment.new_comment ? comment.commentID : comment.id, index=comment.commentID, commentClass=comment.class)
              .content(class=!comment.flagged ? "transition hidden" : "")
                .metadata  
                  span.date !{user.createdAt.getTime() + comment.time}                             
                .text(style="background-color: black; color: white; padding: 0.2em;")  You flagged this comment. The admins will review this comment further. We are sorry you had this experience.
                .actions 
                  a.unflag Unflag
              if comment.new_comment 
                .image(style="background-color:"+user.profile.color+";", class=comment.flagged ? "transition hidden": "")
                  if actorPictureIsInitials(user.profile.picture)
                    a.avatar.actor-initials-badge
                      span= actorInitialsFromPicture(user.profile.picture)
                  else
                    a.avatar
                      img(src=user.profile.picture)
              else
                .image(style="background-color:"+comment.actor.profile.color+";", class=comment.flagged ? "transition hidden": "")
                  if actorPictureIsInitials(comment.actor.profile.picture)
                    a.avatar.actor-initials-badge
                      span= actorInitialsFromPicture(comment.actor.profile.picture)
                  else
                    a.avatar
                      img(src=actorPeopleProfileImgSrc(comment.actor.profile.picture))
              .content(class=comment.flagged ? "transition hidden": "")
                if comment.new_comment 
                  a.author(class='/me') !{user.username} (me)
                else 
                  a.author !{comment.actor.username}
                .metadata
                  span.date !{user.createdAt.getTime() + comment.time}
                .text !{comment.body}
                .actions 
                  a.like(class=comment.liked ? "green" : null)
                    i.icon.thumbs.up(class=comment.liked ? "green" : null)
                    span.num !{comment.likes} 
                  a.unlike(class=comment.unliked ? "red" : null)
                    i.icon.thumbs.down(class=comment.unliked ? "red" : null)
                    span.num !{comment.unlikes}
                  a.reply Reply
                  if !comment.new_comment 
                    a.flag Flag
              if comment.subcomments.length!==0
                .comments.subcomments
                  each subcomment in comment.subcomments
                    .comment(commentID=subcomment.new_comment ? subcomment.commentID : subcomment.id, index=subcomment.commentID, commentClass=subcomment.class)
                      .content(class=!subcomment.flagged ? "transition hidden" : "")
                        .metadata
                          span.date !{user.createdAt.getTime() + subcomment.time}
                        .text(style="background-color: black; color: white; padding: 0.2em") You flagged this comment. The admins will review this comment further. We are sorry you had this experience.
                        .actions 
                          a.unflag Unflag
                      if subcomment.new_comment 
                        .image(style="background-color:"+user.profile.color+";", class=subcomment.flagged ? "transition hidden": "")
                          if actorPictureIsInitials(user.profile.picture)
                            a.avatar.actor-initials-badge
                              span= actorInitialsFromPicture(user.profile.picture)
                          else
                            a.avatar
                              img(src=user.profile.picture)
                      else
                        .image(style="background-color:"+subcomment.actor.profile.color+";", class=subcomment.flagged ? "transition hidden": "")
                          if actorPictureIsInitials(subcomment.actor.profile.picture)
                            a.avatar.actor-initials-badge
                              span= actorInitialsFromPicture(subcomment.actor.profile.picture)
                          else
                            a.avatar
                              img(src=actorPeopleProfileImgSrc(subcomment.actor.profile.picture))
                      .content(class=subcomment.flagged ? "transition hidden": "")
                          if subcomment.new_comment 
                            a.author(class='/me') !{user.username} (me)
                          else 
                            a.author !{subcomment.actor.username}
                          .metadata
                            span.date !{user.createdAt.getTime() + subcomment.time}
                          .text !{subcomment.body}
                          .actions 
                            a.like(class=subcomment.liked ? "green" : null)
                              i.icon.thumbs.up(class=subcomment.liked ? "green" : null)
                              span.num !{subcomment.likes} 
                            a.unlike(class=subcomment.unliked ? "red" : null)
                              i.icon.thumbs.down(class=subcomment.unliked ? "red" : null)
                              span.num !{subcomment.unlikes}
                            a.reply Reply
                            if !subcomment.new_comment 
                              a.flag Flag