.computer.only.tablet.only.row 
  .ui.borderless.fixed.menu
    .ui.container
      a.item
        img.ui.image(src=cdn+'/logo.svg', id='logo', width='150px')
      if user
        .right.menu
          .ui.simple.dropdown.item
            .image
              if actorPictureIsInitials(user.profile.picture)
                .header-initials-badge
                  span= actorInitialsFromPicture(user.profile.picture)
              else
                img.ui.image.rounded(src=user.profile.picture)
            span(style="margin-right: 5px;")= user.username
.mobile.only.row
  .ui.fluid.top.fixed.four.item.menu
    a.item
      img.ui.image(src=cdn+'/logo.svg', id='cell_logo', width='150px')
    if user
      a.item
        .right.menu
          .ui.simple.dropdown.item
            .image
              if actorPictureIsInitials(user.profile.picture)
                .header-initials-badge
                  span= actorInitialsFromPicture(user.profile.picture)
              else
                img.ui.image.rounded(src=user.profile.picture)
            span(style="margin-right: 5px;")= user.username